<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HRM Web</title>
    <link rel="stylesheet" href="~/Styles/Application.css" />
</head>
<body>
    <script>
        var SITE_API_ROOT = "@ViewData["BaseUrl"]";
    </script>
    <application id="application"></application>
    <script src="~/Scripts/Application.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-211667705-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-211667705-1');
    </script>
</body>
</html>
